<% cache discussion do %>
  <div class="form_discussion">
      <div class="field">
        <%= discussion.creator.email %>
        <%= link_to discussion.title, [discussion.project.account, discussion.project, discussion] %> -
        <%= discussion.description %>
      </div>
  </div>
<% end %>
