<div>
  <%= link_to todo_list.name, todo_list_path(todo_list) %><br/>
  <%= todo_list.description %>
</div>
<div>
  <%= render todo_list.todos %>
</div>
<br>

<%= link_to 'New Todo list', new_todo_list_path %>