<div>Home</div>
<div>
  <% if session[:user_id] %>
    <%= "User is #{User.find(session[:user_id]).email}" %>
  <% else %>
    <%= "No user to-dos" %>
  <% end %>
</div>

<h1>To-dos</h1>

<%= render @todo_lists %>