// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="text"] {
  border: 0;
  border-bottom: 1px dotted #444;
  background: #ffe;
  width: 240px;
}

input[type="submit"] {
  position: absolute;
  visibility: hidden;
}