// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.path {
  font-size: 14px;
  padding-bottom: 10px;
  & a {
    color: #009;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.project {
  text-decoration: none;
  color: black;
  #project_name {
    font-size: 50px;
    color: black;
  }
  #project_description {
    font-size: 14px;
    color: black;
  }
  width: 300px;
  height: 200px;
  float: left;
  padding: 20px 20px;
  margin: 5px;
  &:hover {
    background: #eee;
  }
  #people {
    padding-top: 30px; 
    font-size: 14px;
    color: grey;
    &:hover {
      text-decoration: underline;
      color: black;
    }
  }
}

.actions {
  padding-left: 20px;
  position: absolute;
  visibility: hidden;
  
}

.field:hover .actions {
  position: absolute;
  visibility: visible;
  
}

input[type="text"] {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid transparent;
  min-width: 240px;
  &:hover { border-bottom: 1px dotted #777; }
}

.projects {
  list-style: none;
  padding-left: 20px;

  #project_name {
    font-size: 30px;
  }
}

.form_project {
  padding: 30px;
  #project_name {
    font-size: 30px;
    width: 60%;
  }
  #project_description {
    font-size: 20px;
    width: 60%;
  }
  #project_menu {
    padding: 3px 10px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
  }
  #todo_label {
    font-size: 20px;
  }
}