// Place all the styles related to the TodoLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.todo_lists {
  list-style: none;
  padding-left: 20px;

  #todo_list_name {
    font-size: 20px;
  }
}

.all_todo_lists {
  padding: 20px;
}