<div id='project_list'>
  <div class='projects'>
    <%= render @account.projects %>
  </div>

  <%= link_to "+", account_projects_path(current_user.account, project: {name: 'New project'}, commit: 'Create project'), id: :add_project, class: :paper, method: :create %>
</div>